.map-container{
    margin-top: 6.4rem;
    background: #e6f7fb;
    border: 1px solid #b3dae2;
    border-radius: 2rem;
}

#mapid {
    width: 100%;
    height: 28rem;
}

.map-container footer {
    padding: 2 rem 0; /*Primeiro numero em cima e embaixo, segundo nas laterais*/
    text-align: center;
}

.map-container footer a {
    color: #0089a5;
    text-decoration: none; /*Por padrão todo link tem sublinhado, desta forma removemos-o do hyper link*/
    font-weight: 700;
}

.map-container .leaflet-container {
    border-bottom: 1px solid #dde3f0;
    border-radius: 2rem;
}